.footer-chaordic {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 900px;
  margin: 0 auto;

  > .title {
    color: get-color("brand", "primary");
    font-weight: bold;
    font-size: rem-calc(20);
    padding: 33px 0;
  }

  > .wrapper {
    width: 70px;
    display: flex;
    justify-content: space-between;
  }
}
